# Component Verification

The purpose of the component verification is to make sure it fulfills it purpose, and fulfills the architectural requirements on the component:

This can be done by:

* Testing
* Review and/or inspections
* Automated static code analysis

## Component testing

Component testing is intended to find defects caused by design and coding errors, including dead code.

To start testing you need to know what the intention of the component is and the details of the interface to the component.



